body {
    display: flex;
    background-color: #A7D2CB;
    flex-direction: column;
    align-items: flex-start;
}

header {
    margin: auto;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    justify-content: center;
}

main {
    width: 60%;
    background-color: #F2D388;
    border: 3px solid black;
    margin: auto;
    border-radius: 5px;
    font-family: 'Noto Serif', serif;
    font-size: 15px;
}

#image {
    background-color: cornflowerblue;
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

#birthday {
    background-color: blue;
}

#clothing {
    background-color: red;
}

#quote {
    background-color: green;
}

#species {
    background-color: purple;
}

#sign {
    background-color: grey;
}

#personality {
    background-color: yellow;
}


form {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#submitButton {
    background-color: #874C62;
    color: white;
    border-radius: 3px;
    height: 25px;
    transition: background-color .3s, color .3s
}

#submitButton:hover {
    background-color: #54BAB9;
    color: white;
    cursor: pointer;
}