body {
    display: grid;
    grid-template-columns: 2fr 2fr;
    box-sizing: border-box;
}

header {
    margin: auto;
}

#image {
    background-color: cornflowerblue;
}

#birthday {
    background-color: blue;
}

#clothing {
    background-color: red;
}

#quote {
    background-color: green;
}

#species {
    background-color: purple;
}

#sign {
    background-color: grey;
}

#personality {
    background-color: yellow;
}

#imageContainer {
    background-color: forestgreen;
    margin: auto;
}