* {
    box-sizing: border-box;
}


body {
    width: 90%;
    margin: 2em auto; 
    display: grid;
    background-color: #A7D2CB;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    grid-template-areas: 
    "header header header"
    "main sidebar sidebar"
    "footer footer footer"
    
}

header {
    margin: 10px 0px 0 475px;
    height: 150px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    grid-area: header;
    border: 3px solid #874C62;
    border-radius: 5px;
    padding: 20px;
    width: 900px;
    background-color: #F2D388;
}

#logo1 {
    width: 100px;
    height: 100px;
    grid-area: header;
    margin: 50px 0 0 550px; 
}

#logo1 img {
    width: 100%;
    height: 100%
}

#logo2 {
    grid-area: header;
    width: 50px;
    height: 50px;
    margin: 50px 0 0 1300px ; 
}

#logo2 img {
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#blueCircle {
    height: 300px;
    width: 300px;
    background-color: #54BAB9;
    border-radius: 50%;
    display: inline-block;
    grid-area: header;
    margin: 100px 0 0 300px;
    opacity: 0.5;
    z-index: -1;
}

#maroonCircle {
    height: 200px;
    width: 200px;
    background-color: #874C62;
    border-radius: 50%;
    display: inline-block;
    grid-area: header;
    margin: 20px 0 0 250px;
    opacity: 0.7;
    z-index: -1;
}

#orangeCircle {
    height: 250px;
    width: 250px;
    background-color: #C98474;
    border-radius: 50%;
    display: inline-block;
    grid-area: header;
    margin: 20px 0 0 1300px;
    opacity: 0.7;
    z-index: -1;
}

#secondMaroonCircle {
    height: 225px;
    width: 225px;
    background-color: #874C62;
    border-radius: 50%;
    display: inline-block;
    grid-area: header;
    margin: 150px 0 0 1450px;
    opacity: 0.9;
}


main {
    width: 500px;
    height: 600px;
    background-color: #F2D388;
    border: 5px solid #874C62;
    margin: 10px 0 300px 200px;
    border-radius: 5px;
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    grid-area: main;
    padding: 20px;
}

#image {
    background-color: #C98474;
    border: 5px solid #874C62;
    border-radius: 5px;
    display: block;
    margin: 0 100px 100px 300px;
    object-fit: cover;
    grid-area: sidebar;
}

img {
    width: 100%;
    height: 100%;
}

#labelForForm {
    grid-area: header;
    margin: 275px 0 0 675px;
}

form {
    padding: 10px;
    margin: 300px 0 0 800px;
    grid-area: header;
}

#submitButton {
    background-color: #874C62;
    color: white;
    border-radius: 3px;
    height: 30px;
    transition: background-color .3s, color .3s
}

#submitButton:hover {
    background-color: #54BAB9;
    color: white;
    cursor: pointer;
}

aside {
    background-color: #F2D388;
    border: 5px solid #874C62;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    grid-area: footer;
    height: 225px;
}

#label {
   font-size: 1.5em;
   position: absolute;
   left: 80px;
   top: 1300px;
   border: 3px solid #874C62;
   background-color: #C98474;
   color: white;
   padding: 5px;
   border-radius: 3px;
}

li {
    list-style-type: none;
}

#villagerTextName {
    background-color: #C98474;
    color: white;
    height: 25px;
    border: 2px solid black;
}

::placeholder {
    color: white;
}

@media screen and (min-width: 300px) and (max: 500px) {
    body {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
    }

    header {
        display: flex;
        flex: 1;
    }
}